<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780782975375-fa4uu7jgo6vccrinkdbjt81gf8ou6p58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780782975375-fa4uu7jgo6vccrinkdbjt81gf8ou6p58</string>
	<key>API_KEY</key>
	<string>AIzaSyCGFDn48wRj555dwnO4TJnVg_vIQk0if3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>780782975375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.react-native-boilerplate</string>
	<key>PROJECT_ID</key>
	<string>my-personal-tutor-795fc</string>
	<key>STORAGE_BUCKET</key>
	<string>my-personal-tutor-795fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780782975375:ios:7c0913b3a658df8af533fa</string>
	<key>DATABASE_URL</key>
	<string>https://my-personal-tutor-795fc.firebaseio.com</string>
</dict>
</plist>